@theme {
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: var(--font-body);

  --default-font-family: var(--font-body);
}

@layer base {
  :root {
    /*
    * MIN. : 1097px -> 12px;
    * BASE : 1280px -> 14px;
    * MAX. : 2560px -> 28px;
    */
    font-size: clamp(0.75rem, 0.0002rem + 1.0936vw, 1.75rem);
  }
}
